<div class="control-group condensed">
  <%= f.label :featured, class: 'control-label' %>
  <div class="control">
    <%= f.check_box :featured %>
  </div>
</div>

<div class="control-group">
  <%= f.label :name, class: 'control-label' %>
  <div class="control">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :url_name, class: 'control-label' %>
  <div class="control">
    <%= f.text_field :url_name %>
  </div>
  <span class="muted">Leave blank to auto-generate based on name</span>
</div>

<div class="control-group">  
  <%= f.label :growing_region, class: 'control-label' %>
  <div class="control">
    <%= f.text_field :growing_region %>
  </div>
</div>

<div class="control-group">  
  <%= f.label :cultivar, class: 'control-label' %>
  <div class="control">
    <%= f.text_field :cultivar %>
  </div>
</div>

<div class="control-group">  
  <%= f.label :processing, class: 'control-label' %>
  <div class="control">
    <%= f.text_field :processing %>
  </div>
</div>

<div class="control-group">  
  <%= f.label :flavor_profile, class: 'control-label' %>
  <div class="control">
    <%= f.text_area :flavor_profile %>
  </div>
</div>

<div class="control-group">  
  <%= f.label :primary_photo, class: 'control-label' %>
  <div class="control">
    <%= f.file_field :primary_photo %>
    <% if @coffee.primary_photo.present? %>
      <%= link_to 'Delete', admin_destroy_photo_path(id: @coffee.id, kind: :primary), class: 'btn btn-small btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <div class="side-image">
    <% if @coffee.primary_photo.present? %>
      <%= image_tag @coffee.primary_photo.url(:small) %>
    <% end %>
  </div>
</div>

<div class="control-group">  
  <%= f.label :secondary_photo, class: 'control-label' %>
  <div class="control">
    <%= f.file_field :secondary_photo %>
    <% if @coffee.secondary_photo.present? %>
      <%= link_to 'Delete', admin_destroy_photo_path(id: @coffee.id, kind: :secondary), class: 'btn btn-small btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
  <div class="side-image">
    <% if @coffee.secondary_photo.present? %>
      <%= image_tag @coffee.secondary_photo.url(:small) %>
    <% end %>
  </div>
</div>