
<div class="login-box">
  <%= image_tag 'high-wheel-bicycle.png', class: 'pull-left' %>
  
  <%= form_tag do %>
    <div class="control-group">
      <%= label_tag :email, 'Email', class: 'control-label' %>
      <%= text_field_tag :email, nil, placeholder: 'Email' %>
    </div>
    <div class="control-group">
      <%= label_tag :password, 'Password', class: 'control-label' %>
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
    </div>
    <div class="control-group">
      <%= submit_tag 'Log in', class: 'btn' %>
    </div>
  <% end %>
</div>


